################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.vs
/Invaders.Uwp/bin
/Invaders.Uwp/obj
/Invaders.Wpf/bin
/Invaders.Wpf/obj
